:root{
    --blue: #009efb;
    --text: #3d4d55;
    --red: #dc3545;
    --red2: #ff6f69;
    --green: #4caf50;
    --limesoap:#7bed9f;
    --succes: #28a745;
    --danger:#dc3545;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#histori{
    width: 300px;
    height: 25px;
    border-radius: 3px;
    border-color: rgb(220, 217, 217);
    margin-top: 20px;
}
hr{
   margin-top: 50px;
   width: 300px;
}
/* #myChart{
    
} */

html{
    font-size: 10px;
    font-family: 'Palanquin', sans-serif;
    font-weight: 400;
}

body{
    min-height: 100vh;
    background-color: rgb(252, 252, 252);
    display: flex;
  
}
.title{
    display: flex;
    margin-top: 20px;
}
#reset{
    width: 15rem;
    height: 35px;
    margin: 15px;
    border: 2px solid gold;
    background-color: white;
    border-radius: 5px;
    border-color: rgb(246, 217, 49);
    cursor: pointer;
    color: gold;
}
#reset:hover{
    background-color: gold;
    color: white;
}

h1{
    font-size: 3.2rem;
    line-height: 4rem;
}

h2{
    font-size: 2.2rem;
    line-height: 3.6rem;
}

p{
    font-size: 1.6rem;
    margin: 1.6rem 0;
    text-align: justify;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.titre{
    text-transform: uppercase;
    font-size: 5rem;
    line-height: 6rem;
}

.section1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    column-gap: 1rem;
    margin-top: 40px;
}

.budget-form {
    width: 100%;
    border: 2px solid var(--succes);
    border-radius: 5px;
    padding: 1rem;
}

#form1{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

label{
    font-size: 2rem;
    text-transform: capitalize;
    margin: 10px 0;
}

input{ 
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px; 
    height: 3.5rem;
    margin: 1rem 0;
} 

#addBudget {
    width: 15rem;
    border: 2px solid var(--succes);
    padding: 0.7rem  0; 
    border-radius: 5px; 
    color: var(--succes);
    background-color: white;
    text-transform: capitalize;
    cursor: pointer;
}
#addBudget:hover{ 
    background-color:var(--succes);
    color: white;
}
.errors{ 
    background-color: var(--red2 );
    margin: 0;
    color: white;
    text-transform: capitalize;
    transform: scaleY(0);
    height: 0;
    transition: 250ms;
    transform-origin: top;
}

.error-show{ 
    transform: scaleY(1);
    height: 100%;
    padding: 10px;
}
.input-error{ 
    border: 4px solid var(--danger);
}
.feedback{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.icone{
    font-size: 4rem;
    color: #1f5571;
}
.feedback-item{ 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.feedback-item_title{ 
    text-transform: uppercase;
}

/* .feedback-item_amount{
  font-size: 3.5rem;
} */

.feedbck-item_green{
    color: var(--succes);
}

.feedbck-item_red{
  color: var(--danger);
}
.expenes-feedback{
    display: flex;
    justify-content: space-around;
}
    
.section2{ 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    column-gap: 1rem;
    margin-top: 15px;
}
  
.expense-form {
    width: 100%;
    border: 2px solid var(--danger); 
    border-radius: 5px;
    padding: 1rem;
}

#form2{
    display: flex;
    flex-direction: column;
}

#expenseAdd{
    width: 15rem;
    border: 2px solid var(--danger);
    padding: 0.7rem 0; 
    border-radius: 5px;
    color: var(--danger);
    background-color:white;
    text-transform: capitalize;
    cursor: pointer;
}
#expenseAdd:hover{ 
    background-color: var(--danger);
    color: white;
}

.expense-feedback{ 
    width: 100%;
}
table{
    width: 100%;
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color: var (--gray);
}
th,td{ 
    width: calc(100% / 3);
    text-align: center;
    border: 1px solid var (--gray);
    padding: 0.8rem;
}
th:nth-child(3){
    border: none;
}
.expense-title,
.expense-value{
    text-transform: capitalize;
    font-size: 1.6rem;
}
/* .delete-edit{} */
.delete-edit img{
    width: 3rem;
    border: none;
    cursor: pointer;
    padding: 2px;
}
.delete-edit img:hover{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}
.delete-edit img:active{
    transform: scaleY (0.85);
}
.despen{
    display: flex;
    justify-content: space-around;
}
.despens{
    display: none;
}
.alerts{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
   flex-direction: column;
   text-align: center;
   border: 1px solid;
   border-color: #28a745;
   border-radius: 3px;
  display: none;
    
}
.alert1{
    background-color: #3d874d;
    height: 30px;
    font-size: 2rem; 
    color: #fff;
}
.alert2{
    background-color: white;
    height: 40px;
    font-size: 16px;
}
.displayHistori{
    display: none;
}
.dHistor1{
    display: flex;
    justify-content: space-evenly;
}
.dHistor2{
    display: flex;
    justify-content: space-evenly;
}

@media (max-width:910px){
    body{
        flex-direction: column;
    }
    .feedback{ 
        margin-top: 2rem;
    }
    .expense-feedback{
        margin-top: 2rem;
    }
}    